<footer class="footer is-fixed-bottom has-background-white">
    <div class="content has-text-centered is-small">
        <p>
            © {{ site.time | date: '%Y' }} {{ site.title }}
            •
            {% for link in site.data.navigation %}
            {% if link.url contains 'http' %}
            {% assign domain = '' %}
            {% else %}
            {% assign domain = site.url %}
            {% endif %}
            <a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %} target="_blank" {% endif %}
                class="has-text-black">
                {{ link.title }}
            </a>
            {% unless link.last %}
            •
            {% endunless %}
            {% endfor %}

        </p>

    </div>
</footer>