<footer class="footer is-fixed-bottom has-background-white">
    <div class="content has-text-centered is-small">
        <p>
            © {{ site.time | date: '%Y' }} {{ site.title }}
            •
            {% for link in site.data.navigation %}
            <a href="{{ link.url | relative_url }}" class="has-text-black">
                {{ link.title }}
            </a>
            {% unless link.last %}
            •
            {% endunless %}
            {% endfor %}

        </p>

    </div>
</footer>