<nav aria-label="main navigation" class="navbar is-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <p class="content has-text-weight-bold">
                    {{ site.title | escape }}
                </p>
            </a>

            <a aria-expanded="false" aria-label="menu" class="navbar-burger is-mobile" role="button">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                {% for link in site.data.navigation %}
                {% if link.url contains 'http' %}
                {% assign domain = '' %}
                {% else %}
                {% assign domain = site.url %}
                {% endif %}
                <a class="navbar-item" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}
                    target="_blank" {% endif %} ">
                    <span class=" icon is-hidden-mobile is-medium has-text-{{ link.color }}">
                    <i class="{{ link.icon }}""></i>
                    </span>
                    <p class=" content">
                        {{ link.title }}
                        </p>
                </a>
                {% endfor %}

            </div>
        </div>
    </div>
</nav>