<!-- <div class="columns is-multiline">
    <div class="column is-full-desktop is-one-fifth-mobile">
        <figure class="image is-128x128 ">
            <img alt="A photo of me" class="is-rounded" src="../images/IMG_1221.jpg">
        </figure>
    </div>
    <div class="column">
        <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ducimus quo aliquid quas consequuntur veritatis pariatur, tenetur dolores quae. Distinctio quae eaque quasi reiciendis iusto excepturi maiores? Maxime, voluptatem omnis!
        </div>
    </div>
</div> -->

<div class="card is-shadowless margin-md">
    <div class="card-image is-hidden-mobile">
        <figure class="image is 128x128 margin-md margin-b-lg">
            <img alt="me" class="is-rounded" src="../images/IMG_1221.jpg">
        </figure>
    </div>
    <header class="card-header is-shadowless">
        <p class="content is-medium card-header-title title is-paddingless margin-l-md">
            David Lee
        </p>
    </header>
    <div class="card-content margin-md is-paddingless">
        <p class="content is-small">
            Graduate student in Computer Science at UCLA. Passionate about data and machine learning. Former Cal Bear.
        </p>
    </div>
</div>