<!-- <div class="columns is-multiline is-mobile">
    <div class="column is-full-tablet is-narrow-mobile padding-md is-flex-mobile">
        <img alt="A photo of me" class="profile" src="{{ "/images/IMG_1221.jpg" | relative_url }}">
    </div>
    <div class="column padding-md">
        <h1 class="content title is-medium is-marginless padding-b-sm">David Lee</h1>
        <p class="content is-small is-marginless padding-b-sm">
            Graduate student in Computer Science at UCLA. Passionate about data and machine learning. Former Cal Bear.
        </p>
    </div>


</div> -->

<div class="columns is-mobile is-vcentered is-marginless padding-t-sm">
    <div class="column is-paddingless">
        <h1 class="content is-large has-text-weight-bold">Hello, world!</h1>
        <p class="content"> My name is David Lee. Welcome to my online home.</p>
    </div>
    <div class="column is-narrow">
        <img src="{{ "/images/me.jpg" || relative_url }}" alt="A photo of me" class="profile">
    </div>
</div>