@charset "utf-8";

@import "partials/spacing.scss";
@import url('https://fonts.googleapis.com/css?family=Lato|PT+Serif&display=swap');

$family-serif: 'PT Serif', serif;
$family-sans-serif: 'Lato', sans-serif;
$family-primary: $family-serif;

// Bulma Imports
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/button.sass";

@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/level.sass";

$custom-colors: ("github": rgb(36 ,41 ,46),"linkedin": rgb(14, 118, 168));

@each $name, $color in $custom-colors {
    .has-text-#{$name} {
        color: $color;
    }

    .is-#{$name} {
        border-color: $color;
        color: $color;
    }
}

