<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}

<body class="has-navbar-fixed-top">

  {% include header.html %}
  <div class="container padding-md">
    <div class="columns">
      <!-- <div class="column is-one-quarter-tablet is-one-fifth-widescreen">
          {% include sidebar.html %}
        </div> -->
      <div class="column is-three-fifths-tablet is-offset-one-fifth-tablet is-full-mobile">
        {{ content}}

      </div>
    </div>
    {% include footer.html %}
  </div>
  {% include scripts.html %}
</body>

</html>