---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="content is-large has-text-weight-bold">{{ page.title }}</h1>
    {%- endif -%}
    <div class="content">
        {{ content }}
    </div>

    {%- if site.posts.size > 0 -%}
    <hr>
    <h2 class="content is-large has-text-weight-bold">{{ page.list_title | default: "Recent Posts" }}</h2>
    <ul class="post-list">
        {% for post in site.posts limit : 5 %}
        <li>
            <div class="level margin-b-md">
                <div class="level-left">
                    <div>
                        <a class="content post-link has-text-black has-text-weight-bold"
                            href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                        <p class="content is-italic">{{ post.excerpt }}</p>
                    </div>
                </div>
                <div class="level-right">
                    <p class="content is-small">{{ post.date | date_to_long_string: "ordinal", "US" }}</p>
                </div>
            </div>
        </li>
        {%- endfor -%}
    </ul>

    {%- endif -%}

</div>